* {
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to bottom right, #323aa8, #9932a8);
    padding: 2px 2px 5px 2px;
}

header h1 {
    color: aliceblue;
    text-align: center;
}


aside {
    width: 30%;
    padding: 1.5%;
    flex: 0 0 25%;
}

aside label {
    font-size: 2vw;
    font-weight: bolder;
}

.citysearch {
    background-color: #3f7cd1;
    padding: 3% 34% 3% 35%;
    border-radius: 4px;
}

section {
    padding-top: .5vw;
    flex: 0 0 75%;
}

main {
    display: flex;
    gap: 10px;
}

input {
    height: 3vw;
}

.display {
    border-width: 70%;
    border-color: black;
    border-style: solid;
}

